.header {
  width: 100%;
  background-color: #424A57;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 144px;
  }

  &__logo {
    width: 190px;
    height: 32px;
    margin-right: 80px;
    flex-shrink: 0;
  }

  &__nav {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__link {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 44px;

    transition: color .25s ease;

    &:hover {
      color: #0096A7;
    }
  }
}